*{
    margin: 0;
    padding: 0;
    border: none
}
body{
    background-image: url(img/background.jpg);
    background-size:cover;
    background-attachment:scroll;

    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        width: 100px;
        height: auto;
    }
    .navigation_links{
        padding-left: 648px;
        ul{
            list-style: none;
            display: block;

            li a{

                font-family: 'Courier New', Courier, monospace;
                text-decoration: none;
                color: #000;
                font-size: 16px;

                transition: color 0.3s ease;

                &:hover{
                    color: #FA5A28;
                    text-decoration: underline;
                }
            }
        }
    }
    .personal_info{
        display: flex;
        flex-direction: column;
        text-align: right;
        padding: 40px;
        p{
            padding: 0.5em;
            font-size: 12px;
            color: #000;
        }
    }
}

marquee{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #FA5A28;
    padding: 4px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;

    .name_description{
        padding: 1em;
        h2{
            text-align: center;
            font-size: 18px;
            color: #000;
        }
    }
    .skillset_pic{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        
        .personal_picture{
        width: 240px;
        height: auto;
        position: relative;
        margin-bottom: 60px;
        }
        .skillset{
            padding: 1em;
            gap: 0.5em;
            p{
                padding: 0.5em;
                font-size: 20px;
                font-weight: bolder;
            }
            ul {
                list-style: none;
                text-decoration: none;
                li{
                    text-align: right;
                    font-weight: light;
                    font-size: 14px;
                    color: #000;
                    padding: 0.25em;
                }
            } 
        }
    }
    
    .information{
        display: block;
        font-weight: 100;
        font-size: 14px;
        color: #000;
        text-align: center;    
    }
    .footer{
        position: relative;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        width: 100%;
        gap: 16px;
        padding: 16px 0;
        box-sizing: border-box;
        font-weight: 100;
        font-size: 12px;
        color: #000;
    }
    .footer .homepage_image{
        grid-column: 1;
        justify-self: start;
        width: 140px;
        height: auto;
    }
    .footer p:nth-of-type(1){
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        grid-column: 2;
        justify-self: center;
padding-top: 48px;    }
    .footer p:nth-of-type(2){
        grid-column: 3;
        justify-self: end;
        margin: 0;
    }
    .footer .color_block{
        position: absolute;
        left: 12px;
        bottom: -36px;
        display: flex;
        gap: 6px;
    }
}


